*{
margin:0;
padding: 0;
}

#container{
     width: 830px;
     margin: 0 auto;
           } 
           
ul{
list-style: none;
}

#logo{
   width: 800px;
   }
   
#logoimg{
      width: 5%;
      margin-right: 20px;
      float: left;
      }
      
#byu {
   width:92%;
   height:45px;
   float:right;
}

#category{
   clear: both;
   }
   
#category ul li{
      float: left;
      }
          
#subject ul li{
          width: 138px;
          float: left;
          }
          
#new_student{
         float: left;
         }

#new_student h3{
         width: 241px;
         float: left;
         margin-right: 30px;
}


.left-half{
  width: 65%;
  float: left;
  }  
.right-half{  
  float: right;
  width:30%;
}

.left-half img {
height: 100%;
width: 100%;
}

h2{
  clear: both;
  }
  
.left{
  width: 25%;
	float: left;;
}

.middle1{
  width: 25%;
	float: left;
}

.middle2{
  width: 25%;
	float: left;
}

#end {
     clear: both;
     text-align: center;
     color: white;
     }
